/* button */

    .button{display: flex;justify-content: center;align-items:center;width:255px;height:55px;border:2px solid #5c5347;text-decoration: none;color:#fff;font-size: 18px;text-transform: uppercase;background-color:transparent;transition:all 300ms ease;
        &:hover{background-color:#fff;border-color:#fff;color:#000;}
    }

/* /button */

/* block1 */

    .block1{background-image:url(../images/block1-background.jpg);background-repeat: no-repeat;background-position:center top;background-size:cover;
        .block1-wrap{display:flex;justify-content: center;align-items: center;flex-direction:column;height:100vh;font-size:18px;color:#fff;font-style:italic;text-align:center;
            .block1-logo-line{margin-bottom:10px;}
            .block1-text{margin-bottom:100px;}
            .block1-mouse{cursor:pointer;}
        }
    }

/* /block1 */

/* block3 */

    .block3{background-image:url(../images/block3-background.jpg);background-repeat: no-repeat;background-position:center center;background-size:cover;padding:55px 0 190px 0;
        .block3-logo{text-align:center;margin-bottom:20px;}
        .block3-main{max-width:880px;width:100%;padding:25px 25px;background-color:#292827;margin:0 auto;
            .block3-content{width:100%;height:340px;border:1px solid #fff;display: flex;justify-content: center;align-items:center;flex-direction:column;
                .block3-text{font-size:24px;font-style:italic;margin-bottom:10px;text-align:center;}
                .block3-line{margin-bottom:20px;padding:0 10px;}
                .block3-button{display:flex;justify-content: center;align-items: center;}
            }
        }
    }

/* /block3 */

/* popup */

    .fancybox-overlay{background-color:rgba(0, 0, 0, .75);}
    .fancybox-wrap.fancybox-form{width:555px!important;left:50%!important;top:50%!important;transform:translate(-50%, -50%);
        .fancybox-skin{background-color:#212020;border-radius: 0;box-shadow:none;}
        .fancybox-inner{width:555px!important;}
        #call-popup{padding:40px 15px 40px 15px;}
        .popup-logo{text-align:center;
            img{max-width:165px;}
        }
        .contact-form-row{margin-bottom:90px;
            &:last-child{margin-bottom:0;display: flex;justify-content: center;

            }
            .contact-form-item{margin-bottom:40px;
                &:last-child{margin-bottom:0;}
                .form_input_title{font-size:16px;color:#534839;font-weight: 700;margin-bottom:20px;}
                .form_input{
                    input{width:100%;border-width:0 0 1px 0;border-style:solid;border-color:#5c5347;background-color:transparent;height:36px;line-height:36px;padding:0;
                        &+.errorText{display:none!important;}
                        &.error{border-color:#ff0000;}
                    }
                }
            }
        }
    }

    .fancybox-wrap.call-popup{
        .fancybox-skin{border-radius:0;background-color:#212020;box-shadow:none;

        }
        .call-success{text-align: center;font-size:20px;color:#fff;font-style:italic;padding-top: 15px;max-width: 280px;
            .call-title{font-size:28px;margin-bottom: 10px;}
            .call-subtitle{margin-bottom: 15px;}
        }
    }

/* /popup */