@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

    /* popup */

        .fancybox-form{width:calc(100% - 20px)!important;
            .fancybox-inner{width:100%!important;}
        }

    /* /popup */

}
@media screen and (max-width: 479px){

    /* button */

        .button{width:180px;}

    /* /button */

    /* block3 */

        .block3{
            .block3-main{
                .block3-content{
                    .block3-text{font-size: 17px;}
                    .block3-line{display: none;}
                }
            }
        }

    /* /block3 */

}
@media screen and (max-width: 320px){

}