<section class="block3">
    <div class="mbox">
        <div class="block3-wrap">
            <div class="block3-logo">
                <img src="images/block3-logo.png" alt="" />
            </div>
            <div class="block3-main">
                <div class="block3-content">
                    <div class="block3-text">Новая эксклюзивная коллеция совсем скоро!</div>
                    <div class="block3-line">
                        <img src="images/block3-line.png" alt="" />
                    </div>
                    <div class="block3-button">
                        <a href="#call-popup" class="button fancybox-form">
                            <span>узнать</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>