<section class="block1">
    <div class="mbox">
        <div class="block1-wrap">
            <div class="block1-logo">
                <img src="images/block1-logo.png" alt="" />
            </div>
            <div class="block1-logo-line">
                <img src="images/block1-logo-line.png" alt="" />
            </div>
            <div class="block1-text">Выбирайте лучшее для любимых.</div>
            <div class="block1-mouse">
                <div class="block1-mouse-wrap">
                    <img src="images/block1-mouse.png" alt="" />
                </div>
                <div class="block1-mouse-arrows">
                    <img src="images/mouse-arrows.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>