<!-- FOOTER -->
<footer class="footer">
    <div class="mbox">
        <div class="footer-wrap">
            <div class="copy">
                <span>ООО “shakh n shakh”</span>
            </div>
            <div class="soc">
                <ul>
                    <li><a href="#" target="_blank"><img src="images/soc-1.png" alt=""></a></li>
                    <li><a href="#" target="_blank"><img src="images/soc-2.png" alt=""></a></li>
                </ul>
            </div>
            <div class="email">
                <a href="mailto:shakhnshakh@gmail.com"><span>E-mail : shakhnshakh@gmail.com</span></a>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
